---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Portada from '../components/Portada.astro';
import Seccion1 from '../components/Seccion1.astro';
import Seccion2 from '../components/Seccion2.astro';
import SeparacionDiagonal from '../components/SeparacionDiagonal.astro';
---

<Layout title="INTI PURIK">
	<main>
		<Navbar></Navbar>
		<Portada></Portada>
		<Seccion1></Seccion1>
		<Seccion2></Seccion2>
	</main>
</Layout>