---
---
<footer class="relative bg-gray-300 pl-8 pt-2 pb-6 -mt-20 grid grid-rows-4 md:grid-rows-1 md:grid-cols-4" id="contactanos">
  <!-- Sección 1: Inicio y Dirección -->
  <div class="pl-10">
    <ul>
      <li>
        <h6 class="text-xl font-semibold text-gray-900"><a href="#inicio">Inti Purik</a></h6>
      </li>
      <li class="mt-8 pr-8">
        <h6 class="text-xl font-semibold text-gray-900">Dirección</h6>
        <p class="text-gray-800 mt-2 mb-4 max-w-72">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos possimus neque debitis.</p>
      </li>
    </ul>
  </div>

  <!-- Sección 2: Horario de Atención -->
  <div>
    <ul>
      <li>
        <h6 class="text-xl font-semibold text-gray-900 pl-10 md:pl-0">Horario de Atención</h6>
        <p class="text-gray-800 mt-2 pl-10 md:pl-0">Lunes a Viernes</p>
        <p class="text-gray-800 pl-10 md:pl-0">9:00 AM - 5:00 PM</p>
        <p class="text-gray-800 mt-2 pl-10 md:pl-0">Sábado</p>
        <p class="text-gray-800 pl-10 md:pl-0">9:00 AM - 2:00 PM</p>
      </li>
    </ul>
  </div>
  

  <!-- Sección 3: Teléfono y Correo Electrónico -->
  <div class="px-6">
    <ul>
      <li>
        <h6 class="text-xl font-semibold text-gray-900 pl-4 md:pl-0 -mt-4">Teléfono</h6>
        <p class="text-gray-800 mt-2 pl-4 md:pl-0">0995596805</p>
        <p class="text-gray-800 mb-4 pl-4 md:pl-0">0981747040</p>
      </li>
      <li>
        <h6 class="text-xl font-semibold text-gray-900 pl-4 md:pl-0">Correo Electrónico</h6>
        <p class="text-gray-800 mt-2 mb-4 text-sm md:text-base pl-4 md:pl-0">correoEmpresarial@gmail.com</p>
      </li>
    </ul>
  </div>
  
  </footer>
