---
import Desplegable from "./icons/Desplegable.astro";
---

<nav
  class="top-0 z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 lg:absolute fixed"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
        href="#ubicación"
      >
        Operadora Turística
      </a>
      <button
        class="text-white cursor-pointer text-xl leading-none px-3 py-2 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        onclick="(() => toggleNavbar('desplegable'))()"
      >
        <Desplegable />
      </button>
    </div>
    <div
      class="ml-auto lg:flex items-center bg-gray-700 lg:bg-transparent lg:shadow-none hidden"
      id="desplegable"
    >
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center border lg:border-none hover:bg-gray-500 lg:hover:bg-transparent" onclick= "(() => hiddenNavbar())()">
          <a
            class="lg:hover:text-gray-300 text-white px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="#inicio"
          >
            <i
              class="lg:text-gray-300 text-gray-500 fab fa-facebook text-lg leading-lg"
            ></i>
            <span class="inline-block ml-2">Inicio</span>
          </a>
        </li>
        <li class="flex items-center border lg:border-none hover:bg-gray-500 lg:hover:bg-transparent" onclick= "(() => hiddenNavbar())()">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-white px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="#vestuario"
          >
            <i
              class="lg:text-gray-300 text-gray-500 fab fa-twitter text-lg leading-lg"
            ></i>
            <span class="inline-block ml-2">Explorar</span>
          </a>
        </li>
        <li class="flex items-center border lg:border-none hover:bg-gray-500 lg:hover:bg-transparent" onclick= "(() => hiddenNavbar())()">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-white px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="#ubicación"
          >
            <i
              class="lg:text-gray-300 text-gray-500 fab fa-github text-lg leading-lg"
            ></i>
            <span class="inline-block ml-2">Ubicación</span>
          </a>
        </li>
        <li class="flex items-center border lg:border-none hover:bg-gray-500 lg:hover:bg-transparent" onclick= "(() => hiddenNavbar())()">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-white px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="#contactanos"
          >
            <i
              class="lg:text-gray-300 text-gray-500 fab fa-github text-lg leading-lg"
            ></i>
            <span class="inline-block ml-2">Contactanos</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script is:inline>
  function toggleNavbar(collapseID) {
    const element = document.getElementById(collapseID);

    if (element) {
      element.classList.toggle("hidden");
      element.classList.toggle("flex");
    } else {
      console.error(`Element with ID '${collapseID}' not found.`);
    }
  }

  document.addEventListener("click", function (event) {
    const menu = document.getElementById("desplegable");
    const button = event.target.closest("button");

    if (menu && !menu.contains(event.target) && !button) {
      menu.classList.add("hidden");
      menu.classList.remove("flex");
    }
  });

  function hiddenNavbar(){
    const element = document.getElementById("desplegable");
    if(element){
      element.classList.toggle("hidden");
      element.classList.toggle("flex");
    }
  }
</script>
