<div
  class="relative pt-16 pb-32 flex content-center items-center justify-center"
  style="min-height: 75vh;"
  id="inicio"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style="background-image: url('Img1.webp')">

    <span class="w-full h-full absolute opacity-40 bg-black"
    ></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
        <div class="pr-12">
          <h1 class="text-white font-semibold text-5xl">
            INTI PURIK 
          </h1>
          <p class="mt-4 text-xl text-gray-300 font-semibold">
            Conecta con la pacha
          </p>
          <p class="text-base text-gray-300">
            ¡Explora el Geoparque Imababura! Vive la emoción de escalar montañas, recorrer senderos, y descubrir paisajes espectaculares en el corazón de Ecuador. Ofrecemos experiencias seguras y personalizadas para conectar con la naturaleza, la cultura y la adrenalina. ¡Haz de tu próxima aventura una experiencia inolvidable con nosotros!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden "
    style="height: 70px;"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</div>
