---
import ArrowNext from "./icons/ArrowNext.astro";
import ArrowPrevious from "./icons/ArrowPrevious.astro";
import About from "./icons/About.astro"

const images2 = ["Img4.webp", "Img7.webp", "Img16.webp", "Img18.webp"];
---

<section class="pb-20 bg-gray-300 -mt-56" id="nosotros">
  <div class="flex flex-wrap items-center mt-32">
    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
      <a
        class="text-[#9e4a24] p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-[#a18274] mt-8 md:mt-0"
        href="#inicio"
      >
        <About />
      </a>
      <h3 class="text-3xl mb-2 font-semibold leading-normal">
        Acerca de nosotros
      </h3>
      <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum unde corporis nulla consequuntur ab quod repellat, maxime officia veritatis molestiae fugit culpa quae laboriosam labore fugiat dignissimos? Asperiores, itaque perspiciatis.
      </p>
    </div>

    <div class="container w-full md:w-4/12 px-4 mr-auto ml-auto">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-[#9e4a24] overflow-hidden"
      >
        <div class="carousel-image2-container w-full h-64 md:h-96 overflow-hidden">
          {images2.map((image, index)=>(
            <img
            src={image}
            alt='Carousel image'
            class={`carousel-image2 w-full h-full object-cover align-middle rounded-t-lg ${index ===0 ? "active" : "hidden"}`}
          />
          ))}
        </div>
        <div class="z-30">
          <button
        onclick="previousImage2()"
        class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-white text-[#9e4a24] px-4 py-2 rounded ml-6"
      >
        <ArrowPrevious />
      </button>
      <button
        onclick="nextImage2()"
        class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-white text-[#9e4a24] px-4 py-2 rounded mr-6"
      >
        <ArrowNext />
      </button>
        </div>
        
        <blockquote class="relative p-8 mb-4">
          <svg
            preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 583 95"
            class="absolute left-0 w-full block"
            style="height: 95px; top: -94px;"
          >
            <polygon
              points="-30,95 583,95 583,65"
              class="text-[#9e4a24] fill-current"></polygon>
          </svg>
          <h4 class="text-xl font-bold text-white mt-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          </h4>
          <p class="text-md font-light mt-2 text-white">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut placeat maxime eum magnam ad autem cupiditate enim quos, odio iste numquam similique sequi harum ipsam aliquam nulla quod illum fuga.
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const images2 = document.querySelectorAll(".carousel-image2");
  let currentIndex2 = 0;
  function updateActiveImage2(newIndex) {
    images2[currentIndex2].classList.remove("active", "fade-in");
    images2[currentIndex2].classList.add("hidden");

    images2[newIndex].classList.remove("hidden");
    images2[newIndex].classList.add("active", "fade-in");
    currentIndex2= newIndex;
  }

  function nextImage2() {
    const newIndex2 = (currentIndex2 + 1) % images2.length;
    updateActiveImage2(newIndex2);
  }

  function previousImage2() {
    const newIndex2 = (currentIndex2 - 1 + images2.length) % images2.length;
    updateActiveImage2(newIndex2);
  }

  const observer2 = new IntersectionObserver(
    (entries)=>{
      entries.forEach((entry)=>{
        if(entry.isIntersecting){
          entry.target.classList.add('loaded');
        }
      });
    },
    {threshold: 0.5}
  );
  images2.forEach((image)=>{observer2.observe(image)});

</script>

<style>
  .carousel-container {
    overflow: hidden;
  }

  .carousel-image2-container{
    position: relative;
  }
  .carousel-image2{
    transition: opacity 0.1s ease,
    transform 0.1s ease;
    opacity: 0;
    display: none;
  }

  .carousel-image2.active{
    display: block;
    opacity: 1;
    transform: translateX(0);
  }

  .carousel-image2.fade-in{
    animation: fadeIn 0.6s ease forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }

  .carousel-image2.loaded {
    opacity: 1;
    transition: opacity 0.1s ease;
  }
</style>
