---
import SeparacionDiagonal from "./SeparacionDiagonal.astro"
import Mitades2 from "./Mitades2.astro"
import Seccion3 from "./Seccion3.astro"
import Ubicacion from "./Ubicacion.astro"
import Footer from "./Footer.astro"
---

<section class="relative pt-20 bg-white">
    <SeparacionDiagonal backgroundColor = "bg-gray-300" borderColor="bg-white"></SeparacionDiagonal>
    <Mitades2></Mitades2>
    <SeparacionDiagonal backgroundColor = "bg-white" borderColor="bg-gray-300" id=""></SeparacionDiagonal>
    <Seccion3></Seccion3>
    <SeparacionDiagonal backgroundColor = "bg-gray-300" borderColor="bg-gray-900" id=""></SeparacionDiagonal>
    <Ubicacion></Ubicacion>
    <SeparacionDiagonal backgroundColor = "bg-gray-900" borderColor="bg-gray-300"></SeparacionDiagonal>
    <Footer></Footer>
</section>
