---
import ContenidoTarjeta from "./ContenidoTarjeta.astro"
import Airplanet from "./icons/Airplanet.astro"
import Discover from "./icons/Discover.astro"
import About from "./icons/About.astro"
---

<div class="flex flex-wrap"> 
    <ContenidoTarjeta class="md:pt-12 pt-6 w-full md:w-4/12 px-4 text-center" bgcircle="bg-[#ff8040]" icono = {Airplanet} 
    title = "PAQUETES TURISTICOS" description = "Descubre nuestros paquetes turísticos diseñados para explorar la belleza natural y cultural de Imbabura junto a nosotros" tipoRopa="#paquetesTuristicos"></ContenidoTarjeta>
    <ContenidoTarjeta class = "w-full md:w-4/12 px-4 text-center" bgcircle="bg-[#e2b27b]" icono = {Discover} 
    title = "DESCUBRE IMBABURA" description = "Imbabura, más conocida como la 'Provincia de los Lagos'. Un destino perfecto para aventuras únicas y momentos inolvidables en contacto con la naturaleza." tipoRopa="#descubreImbabura"></ContenidoTarjeta>
    <ContenidoTarjeta class = "md:pt-12 pt-6 w-full md:w-4/12 px-4 text-center" bgcircle="bg-[#9e4a24]" icono = {About} 
    title = "ACERCA DE NOSOTROS" description = "Somos una operadora de turismo de aventura apasionada por crear experiencias memorables y seguras en cada travesía." tipoRopa="#nosotros"></ContenidoTarjeta>
</div>
