---
import ContenidoTarjeta from "./ContenidoTarjeta.astro"
import Desplegable from "./icons/Desplegable.astro"
// import Terno from "./icons/Terno.astro"
// import Niños from "./icons/Niños.astro"
---

<div class="flex flex-wrap"> 
    <ContenidoTarjeta class="md:pt-12 pt-6 w-full md:w-4/12 px-4 text-center" bgcircle="bg-[#ff8040]" icono = {Desplegable} 
    title = "Paquetes turísticos" description = "Descripcion de la seccion" tipoRopa="#damas"></ContenidoTarjeta>
    <ContenidoTarjeta class = "w-full md:w-4/12 px-4 text-center" bgcircle="bg-[#e2b27b]" icono = {Desplegable} 
    title = "Descubre Imbabura" description = "Descripcion de la seccion" tipoRopa="#caballeros"></ContenidoTarjeta>
    <ContenidoTarjeta class = "md:pt-12 pt-6 w-full md:w-4/12 px-4 text-center" bgcircle="bg-[#9e4a24]" icono = {Desplegable} 
    title = "Acerca de nosotros" description = "Descripcion de la seccion" tipoRopa="#niños"></ContenidoTarjeta>
</div>
