---
// import Medalla from './icons/Medalla.astro';
// import Barras from './icons/Barras.astro';
// import Foco from './icons/Foco.astro';
---
<section id="ubicaci贸n" class="relative block bg-gray-900 -mt-24">
    <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 80px;"
        >
        </div>
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-40">
          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold text-white">Ubicaci贸n</h2>
              <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam in corrupti facere natus est molestias expedita iure placeat, quidem voluptatibus doloremque necessitatibus, vitae, perspiciatis a doloribus nam deleniti. Adipisci?  
              </p>
              <div class="w-full md:w-full" id="container-mapa">
                <iframe class="w-full h-64 md:h-96 ml-0 md:ml-10" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249.36359704633975!2d-78.14568436940456!3d0.035540951025093456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2a09db67468e23%3A0x1e6ec41953c1d7b4!2sLaboratorio%20Cl%C3%ADnico%20Genova%20LAB!5e0!3m2!1ses!2sec!4v1725327270113!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap mt-12 justify-center">
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
              <!-- <Medalla></Medalla> -->
              </div>
              <h6 class="text-xl mt-5 font-semibold text-white">
                Misi贸n
              </h6>
              <p class="mt-2 mb-4 text-gray-500">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste soluta tenetur! Sunt facere voluptatem exercitationem recusandae.
              </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
              <!-- <Barras></Barras> -->
              </div>
              <h5 class="text-xl mt-5 font-semibold text-white">
                Visi贸n
              </h5>
              <p class="mt-2 mb-4 text-gray-500">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste soluta tenetur! Sunt facere voluptatem exercitationem recusandae.
              </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center mb-20 sm:mb-0">
              <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
              <!-- <Foco></Foco> -->
              </div>
              <div class={`pb-32 lg:pb-0`}>
                <h5 class="text-xl mt-5 font-semibold text-white">Valores</h5>
              <p class="mt-2 sm:mt-6 mb-4 text-gray-500">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste soluta tenetur! Sunt facere voluptatem exercitationem recusandae.
              </p>
              </div>
            </div>
          </div>
        </div>
</section>