---
// import Medalla from './icons/Medalla.astro';
// import Barras from './icons/Barras.astro';
// import Foco from './icons/Foco.astro';
---
<section id="ubicación" class="relative block bg-gray-900 -mt-24">
    <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 80px;"
        >
        </div>
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-40">
          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold text-white">Ubicación</h2>
              <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
              </p>
              <div class="w-full md:w-full" id="container-mapa">
                <iframe class="w-full h-64 md:h-96 ml-0 md:ml-10" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d899.2996883928687!2d-78.11820942751449!3d0.3451477178983147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMMKwMjAnNDMuMiJOIDc4wrAwNycwMi43Ilc!5e0!3m2!1ses!2sec!4v1732647355903!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap mt-12 justify-center">
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
              <!-- <Medalla></Medalla> -->
              </div>
              <h6 class="text-xl mt-5 font-semibold text-white">
                Misión
              </h6>
              <p class="mt-2 mb-4 text-gray-500">
                Ofrecer un servicio de alta calidad con una amplia gama de actividades de aventura en los geositios del Geoparque Imbabura, creando momentos únicos y memorables en cada recorrido para nuestros clientes. 
              </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
              <!-- <Barras></Barras> -->
              </div>
              <h5 class="text-xl mt-5 font-semibold text-white">
                Visión
              </h5>
              <p class="mt-2 mb-4 text-gray-500">
                Consolidarnos como la operadora líder en turismo de aventura en el Geoparque Imbabura, reconocida por ofrecer experiencias auténticas y seguras que conecten a los visitantes con la naturaleza, la cultura y la geología de la provincia.
              </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center mb-20 sm:mb-0">
              <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
              <!-- <Foco></Foco> -->
              </div>
              <div class={`pb-32 lg:pb-0`}>
                <h5 class="text-xl mt-5 font-semibold text-white">Valores</h5>
              <p class="mt-2 sm:mt-6 mb-4 text-gray-500">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste soluta tenetur! Sunt facere voluptatem exercitationem recusandae.
              </p>
              </div>
            </div>
          </div>
        </div>
</section>